*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   
}
body{
    justify-content: flex-end;
    background-color: #474343f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;

}
header{
    text-align: center;
    padding: 20px;
    background-color: rgb(109, 91, 91);
}
header img{
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    transition: display all;
}
nav {
    background-color: #b64f4f;
    padding: 10px;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
    text-align: center;
}
nav ul li a {
    color: rgb(245, 239, 239);
    background-color: #05345d;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: backbround-color 0.7s;
}
nav ul li a:hover {
     background-color: #022442;
     border-radius: 10px;
}
#entregable{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --bg: #2c2436;
    --text: #fff;
}


.site-header {
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

.general-actions {
    margin-bottom: 20px;
    text-align: center;
}

.general-actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character-card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.character-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.character-card button {
    padding: 8px 16px;
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

.site-footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
article{
    background-color: rgba(155, 84, 84, 0.979);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px #3b6183;
    max-width: 100%;
    box-sizing: border-box;
}