body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DEB887; /* Papel kraft */
    color: #543829; /* Marrón chocolate oscuro */
}

header {
    background-color: rgba(222, 184, 135, 0.8); /* Papel kraft semi-transparente */
    color: #543829;
    border-bottom: 2px solid #543829;
}

footer {
    background-color: rgba(222, 184, 135, 0.8); /* Papel kraft semi-transparente */
    color: #543829;
    border-top: 2px solid #543829;
}

.producto {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Blanco semi-transparente */
    border: 1px solid #543829;
    border-radius: 5px;
}

.producto img {
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #543829;
}

footer a {
    color: #543829;
    text-decoration: none;
}

.btn-primary {
    background-color: #E07A5F; /* Terracota */
    border-color: #E07A5F;
    color: #fff;
}

.btn-primary:hover {
    background-color: #A75D5D; /* Naranja óxido al pasar el ratón */
    border-color: #A75D5D;
}

h1, h2, h3, h4, h5, h6 {
    color: #543829;
}

.mensaje-carrito {
    color: #E07A5F;
    font-size: 0.8em;
    margin-top: 5px;
}