*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   
}

body{
    justify-content: flex-end;
    background-color: #bd6c6c;
    color: #333;
    line-height: 1.6;
    padding: 20px;

}
header{
    text-align: center;
    padding: 20px;
    background-color: rgb(231, 134, 134);
}
header img{
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    transition: display all;
}
nav {
    background-color: #0055a5;
    padding: 10px;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
nav ul li a {
    color: rgb(245, 239, 239);
    background-color: #05345d;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: backbround-color 0.7s;
}
nav ul li a:hover {
     background-color: #022442;
     border-radius: 10px;
}
#entregable{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.contenido{
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black ;
}
article{

    flex: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px #022442;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word ;

}
aside{
    flex: 1;
    background-color: #eef;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #022442;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #0055a5;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}
h3, p{
font-size: 2vw;
}
h3{
    font-size:clamp(1rem, 2.5vw, 2 rem)
}
@media sccreen and (max-width: 600px){
    h3{
        font-size: 1.2em;
    }
    img{
        width: 100%;
        height: auto;
    }
    .contenido{
        padding: 10px;
    }
}
.secciones > div{
    flex: 1 1 300px;
}
