*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   
}

body{
    justify-content: flex-end;
    background-color: #474343f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;

}
header{
    text-align: center;
    padding: 20px;
    background-color: rgb(109, 91, 91);
}
header img{
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    transition: display all;
}
nav {
    background-color: #b64f4f;
    padding: 10px;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
    text-align: center;
}
nav ul li a {
    color: rgb(245, 239, 239);
    background-color: #05345d;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: backbround-color 0.7s;
}
nav ul li a:hover {
     background-color: #022442;
     border-radius: 10px;
}
#entregable{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.contenido{
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black ;
}
article{
    background-color: rgba(155, 84, 84, 0.979);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px #3b6183;
    max-width: 100%;
    box-sizing: border-box;
}
article ul, ol, dl{
    padding: 10px;
    margin: 18px;
}
aside{
    flex: 1;
    background-color: #eef;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #212324;
    text-shadow: 2px 2px 5px black ;
}
footer{
    text-align: center;
    padding: 15px;
    background-color:#b64f4f ;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}
.ListaOrdenada{
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black ;
}
.tabla-wrapper{
    width:100%;
    overflow-x: auto;
}
.tabla{
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(0.9rem, 1.8vw, 1rem);
}

.tabla caption {
  font-weight: 600;
  text-align: left;
  padding: 0.5rem 0;
}

.tabla th,
.tabla td {
  border: 1px solid #ddd;
  padding: 0.6rem;
  text-align: left;
}

.tabla thead th {
  background: #7e7ed8;
}

.tabla tbody tr:nth-child(even) {
  background: #3770b1;
}

@media (max-width: 600px) {
  .tabla th,
  .tabla td {
    padding: 0.5rem;
  }
}
